<h5 style="color: #0a3d62;font-weight: bold;" class="text-center">Assembly Station</h5>
<hr>

<div class="card">
  <div class="card-header">
    Order Informations
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">ISBN</th>
          <th scope="col">Po#</th>
          <th scope="col">Title</th>
          <th scope="col">Total qty</th>
          <th scope="col">Min qty</th>
          <th scope="col">Max qty</th>
          <th scope="col">Produced qty</th>
          <th scope="col">Due date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ orderInfo.ordre.oldOrdreid }}</th>
          
          <th>{{ orderInfo.part.isbn }}</th>
          <th>{{ orderInfo.ordre.orderNum }}</th>
          <th>{{ orderInfo.part.title }}</th>
          <td>{{ orderInfo.ordre.quantity }}</td>
          <td>{{ orderInfo.ordre.quantityMin }}</td>
          <td>{{ orderInfo.ordre.quantityMax }}</td>
          <td>{{ orderInfo.ordre.produced }}</td>
          <td>{{ orderInfo.ordre.dueDate | date: 'yyyy-MM-dd' }}</td>
        
        </tr>
      </tbody>
    </table>
  </div>
</div>


<br>

<div class="card" *ngIf="loadTagsToShow.length>0">
  <div class="card-header">
    Assembly label Position
  </div>
  <div class="card-body justify-content-center text-center">
    <!--<img style="width:25%;height: auto;" src="../../../assets/img/{{orderInfo.client.assemblyLabelPosition}}-book.svg" alt="label position"> -->
    <div  class="assemblyLabelBook" >
      <div  [class]="chooseClass()">
        <p class="text-center" style="font-size: 11px;">Assembly Station</p>
        <p class="text-center" style="font-size: 11px;"> {{ loadTagsToShow[loadTagsToShow.length-1].loadId }}</p>
        <div class="row justify-content-center">
          <p class="card-text" style="font-size: 8px;">Quantity: <strong>{{ loadTagsToShow[loadTagsToShow.length-1].quantity }}</strong></p>
          <div style="width: 25px;"></div>
          <p class="card-text" style="font-size: 8px;">Produced: <strong>{{ loadTagsToShow[loadTagsToShow.length-1].quantityProduced }}</strong></p>
        </div>


      </div>
    </div>
  </div>
</div>

<br>
<div class="card" *ngIf="loadTagsToShow.length>0">
  <div class="card-header">
    Load Tags
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let tag of loadTagsToShow; let i = index"
        style="margin-top: 10px;">
        <div class="card">
          <div class="card-body no-print" id="loadTag{{i}}">
            <h3 class="text-center" style="font-size: 30px; font-weight: bold;">Assembly Station</h3>
            <h1 class="text-center" style="font-size: 60px; font-weight: bolder;"> {{ tag.loadId }}</h1>
            <div class="row justify-content-center">
              <p class="card-text">Quantity: <strong>{{ tag.quantity }}</strong></p>
              <div style="width: 25px;"></div>
              <p class="card-text">Produced: <strong>{{ tag.quantityProduced }}</strong></p>
            </div>
            <div class="row justify-content-center no-print">
              <p>Done by <strong>{{ tag.operator }}</strong> at :
                <strong>{{ tag.load_Date | date: 'yyyy-MM-dd'}}</strong></p>
            </div>

          </div>
          <!--TAG-->
          <div class="no-print" style="text-align:center;">
            <button *ngIf="loadTagsToShow.length-1 == i" class="btn btn-secondary" printSectionId="loadTag{{i}}"
              ngxPrint printTitle="Loadtag_{{tag.loadId}}" [useExistingCss]="true">Print <i class="fa fa-print"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<div class="card">
  <div class="card-header">
    Shipping Informations
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <button type="button" (click)="addLoadTag()" class="btn btn-primary">Load Tag <i class="fa fa-plus-circle"
            aria-hidden="true"></i></button>
        &nbsp;&nbsp;
        <!-- Button trigger modal -->

        <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
          <div class="list-group-item">
            <h5 class="card-title">Load Tag #{{i + 1}}</h5>
            <div [formGroup]="ticket" class="form-row">
              <div class="form-group col-6">
                <label>Quantity Produced</label>
                <input type="number" formControlName="quantityProduced" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && ticket.controls.quantityProduced.errors }"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" min="1"
                  max="{{orderInfo.quantityMax - orderInfo.produced}}">
                <div *ngIf="submitted && ticket.controls.quantityProduced.errors" class="invalid-feedback">
                  <div *ngIf="ticket.controls.quantityProduced.errors.required">Quantity Produced is required</div>
                </div>
              </div>
              <div class="form-group col-6">
                <button *ngIf="loadTagForm.value.tickets.length >= 1" type="button" (click)="printLoadTag(i)"
                  class="btn btn-sm btn-outline-success" style="margin-top: 32px;"
                  [disabled]="ticket.controls.quantityProduced.errors"><i class="fa fa-floppy-o"
                    aria-hidden="true"></i></button>
                &nbsp;&nbsp;
                <button *ngIf="loadTagForm.value.tickets.length >= 1" type="button" (click)="removeLoadTag(i)"
                  class="btn btn-sm btn-outline-danger" style="margin-top: 32px;"><i class="fa fa-times"
                    aria-hidden="true"></i></button>
              </div>

            </div>
          </div>

        </div>
        <br>
      </div>
      <div class="col-1 vl"></div>
      <div class="col-5 row justify-content-center">
        <div [formGroup]="packingSlipForm" class="col-12 form-row">

          <div class="form-group col">
            <label>Quantity</label>
            <input type="text" formControlName="quantity" class="form-control"
              [ngClass]="{ 'is-invalid': packingSlipForm.controls.quantity.errors }">
            <div *ngIf="packingSlipForm.controls.quantity.errors" class="invalid-feedback">
              <div *ngIf="packingSlipForm.controls.quantity.errors.required">Quantity is required</div>
            </div>
          </div>

          <div class="form-group col">
            <button type="button" class="btn btn-outline-success" style="margin-top: 32px;"
              (click)="completeShipping()" [disabled]="!packingSlipForm.valid">Complete</button>
          </div>
          <!--
          <div *ngIf="shippingIsComplete" class="form-group col-12" style="position: absolute; margin-top: 120px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#packingSlipModal">
              Download Packing Slip
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="onGenerateLabel()" >Print Labels</button>
          </div>
          -->
        </div>

      </div>

    </div>
  </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>



