<h5 style="color: #0a3d62;font-weight: bold;" class="text-center">Shipping Station</h5>
<hr>

<div class="card">
  <div class="card-header">
    Order Informations
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order ID</th>
          <th scope="col">ISBN</th>
          <th scope="col">Po#</th>
          <th scope="col">Title</th>
          <th scope="col">Total qty</th>
          <th scope="col">Min qty</th>
          <th scope="col">Max qty</th>
          <th scope="col">Produced qty</th>
          <th scope="col">Due date</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ orderInfo.oldOrdreid }}</th>
          <th>{{ orderInfo.part.isbn }}</th>
          <th>{{ orderInfo.orderNum }}</th>
          <th>{{ orderInfo.part.title }}</th>
          <td>{{ orderInfo.quantity }}</td>
          <td>{{ orderInfo.quantityMin }}</td>
          <td>{{ orderInfo.quantityMax }}</td>
          <td>{{ orderInfo.produced }}</td>
          <td>{{ orderInfo.dueDate | date: 'yyyy-MM-dd' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<br>

<div class="card">
  <div class="card-header">
    Packaging Informations
  </div>
  <div class="card-body row">
    <div class="col-6">
    <ul class="list-group" *ngIf="orderInfo.part != undefined">
      <li class="list-group-item">Best box: {{orderInfo.part.bestbox.boxNum}}</li>
      <li class="list-group-item">Book orientation: {{orderInfo.part.bestbox.bookorientation}}</li>
      <li class="list-group-item">Quantity per box: {{orderInfo.part.bestbox.qtyperbox}}</li>
      <li class="list-group-item">Total weight: {{getTotalWeight() | number}} Kg </li>
    </ul>
  </div>
  <div class="col-6">
    <ul class="list-group" *ngIf="orderInfo.part != undefined">
      <li class="list-group-item">Book by height: {{orderInfo.part.bestbox.h1}}</li>
      <li class="list-group-item">Book by width: {{orderInfo.part.bestbox.l1}}</li>
      <li class="list-group-item">Book by length: {{orderInfo.part.bestbox.p1}}</li>
    </ul>
  </div>
  </div>
</div>

<br>
<div class="card" *ngIf="loadTagsToShow.length>0">
  <div class="card-header">
    Load Tags
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-4" *ngFor="let tag of loadTagsToShow; let i = index"
        style="margin-top: 10px;">
        <div class="card">
          <div class="card-body no-print" id="loadTag{{i}}">
            <h3 class="text-center" style="font-size: 30px; font-weight: bold;">Shipping Station</h3>
            <h1 class="text-center" style="font-size: 60px; font-weight: bolder;"> {{ tag.loadId }}</h1>
            <div class="row justify-content-center">
              <p class="card-text">Quantity: <strong>{{ tag.quantity }}</strong></p>
              <div style="width: 25px;"></div>
              <p class="card-text">Produced: <strong>{{ tag.quantityProduced }}</strong></p>
            </div>
            <div class="row justify-content-center no-print">
              <p>Done by <strong>{{ tag.operator }}</strong> at :
                <strong>{{ tag.load_Date | date: 'yyyy-MM-dd'}}</strong></p>
            </div>

          </div>
          <!--TAG-->
          <div class="no-print" style="text-align:center;">
            <button *ngIf="loadTagsToShow.length-1 == i" class="btn btn-secondary" printSectionId="loadTag{{i}}"
              ngxPrint printTitle="Loadtag_{{tag.loadId}}" [useExistingCss]="true">Print <i class="fa fa-print"
                aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>


<div class="card">
  <div class="card-header">
    Shipping Informations
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6">
        <button type="button" (click)="addLoadTag()" class="btn btn-primary">Load Tag <i class="fa fa-plus-circle"
            aria-hidden="true"></i></button>
        &nbsp;&nbsp;
        <!-- Button trigger modal -->

        <div *ngFor="let ticket of t.controls; let i = index" class="list-group list-group-flush">
          <div class="list-group-item">
            <h5 class="card-title">Load Tag #{{i + 1}}</h5>
            <div [formGroup]="ticket" class="form-row">
              <div class="form-group col-6">
                <label>Quantity Produced</label>
                <input type="number" formControlName="quantityProduced" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && ticket.controls.quantityProduced.errors }"
                  oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" min="1"
                  max="{{orderInfo.quantityMax - orderInfo.produced}}">
                <div *ngIf="submitted && ticket.controls.quantityProduced.errors" class="invalid-feedback">
                  <div *ngIf="ticket.controls.quantityProduced.errors.required">Quantity Produced is required</div>
                </div>
              </div>
              <div class="form-group col-6">
                <button *ngIf="loadTagForm.value.tickets.length >= 1" type="button" (click)="printLoadTag(i)"
                  class="btn btn-sm btn-outline-success" style="margin-top: 32px;"
                  [disabled]="ticket.controls.quantityProduced.errors"><i class="fa fa-floppy-o"
                    aria-hidden="true"></i></button>
                &nbsp;&nbsp;
                <button *ngIf="loadTagForm.value.tickets.length >= 1" type="button" (click)="removeLoadTag(i)"
                  class="btn btn-sm btn-outline-danger" style="margin-top: 32px;"><i class="fa fa-times"
                    aria-hidden="true"></i></button>
              </div>

            </div>
          </div>

        </div>
        <br>
      </div>
      <div class="col-1 vl"></div>
      <div class="col-5 row justify-content-center">
        <div [formGroup]="packingSlipForm" class="col-12 form-row">
          <div class="form-group col-3">
            <label>Ship Date</label>
            <input type="date" formControlName="shipDate" class="form-control"
              [ngClass]="{ 'is-invalid':packingSlipForm.controls.shipDate.errors }">
            <div *ngIf="packingSlipForm.controls.shipDate.errors" class="invalid-feedback">
              <div *ngIf="packingSlipForm.controls.shipDate.errors.required">Ship date is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>Quantity</label>
            <input type="text" formControlName="quantity" class="form-control"
              [ngClass]="{ 'is-invalid': packingSlipForm.controls.quantity.errors }">
            <div *ngIf="packingSlipForm.controls.quantity.errors" class="invalid-feedback">
              <div *ngIf="packingSlipForm.controls.quantity.errors.required">Quantity is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>Note</label>
            <input type="text" formControlName="notes" class="form-control"
              [ngClass]="{ 'is-invalid': packingSlipForm.controls.notes.errors }">
            <div *ngIf="packingSlipForm.controls.notes.errors" class="invalid-feedback">
              <div *ngIf="packingSlipForm.controls.notes.errors.required">Note is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <button type="button" class="btn btn-outline-success" style="margin-top: 32px;"
              (click)="completeShipping()" [disabled]="!packingSlipForm.valid">Complete</button>
          </div>
          <div *ngIf="shippingIsComplete" class="form-group col-12" style="position: absolute; margin-top: 120px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#packingSlipModal">
              Download Packing Slip
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-primary" (click)="onGenerateLabel()" >Print Labels</button>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


<app-packing-slip-template></app-packing-slip-template>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<app-load-tag *ngIf="this.loadTagsToShow && this.loadTagsToShow.length > 0"
  [tag]="this.loadTagsToShow[this.loadTagsToShow.length - 1]"></app-load-tag>
















<!--packing slip modal-->
<div class="modal fade" id="packingSlipModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="left: -200px;">
    <div class="modal-content" style="margin:10px!important;width: 21cm; height: 29.7cm;">
      <div class="modal-header">
        <!--
        <button type="button" class="btn btn-primary" printSectionId="packingSlip" ngxPrint
          printTitle="PackingSlip_{{orderInfo.orderId}}" [useExistingCss]="true" >Download PackingSlip</button>
          -->
          <button type="button" class="btn btn-primary" (click)="generatePackingSlip()" >Download PackingSlip</button>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container" style="padding: 15px!important;" #packingSlip id="packingSlip">
          <div style="padding: 45px;">
            <!--logo-->
            <div class="row"><img src="../../../../assets/img/logo-epac.png" style="width: 4cm;"></div>
            <!--title-->
            <div class="text-center justify-content-center">
              <h4>Packing slip</h4>
              <h4>{{packingSlipInfo.packing_slips_id}}</h4>
            </div>
            <!--ship info-->
            <div class="row mb-2">
              <div class="col-5 boxes">
                <p>Ship To: <span>{{orderInfo.client.clientId}}</span></p>
                <p>Attn: <span>Recieving</span></p>
                <p>{{orderInfo.client.adressShipping}}</p>

              </div>
              <div class="col-2"></div>
              <div class="col-5 boxes">
                <p>Bill To: <span>{{orderInfo.client.clientId}}</span></p>
                <p>Attn: <span>Cynde Lentz</span></p>
                <p>{{orderInfo.client.adressBilling}}</p>

              </div>
            </div>
            <div class="row">
              <div class="col-5 boxes">
                <p>Customer Name:&nbsp;&nbsp;&nbsp;<span>{{orderInfo.client.accountName}}</span></p>
                <p>Ship Date:&nbsp;&nbsp;&nbsp;<span>{{packingSlipForm.value.shipDate | date: 'yyyy-MM-dd'}}</span></p>
                <p>Delivery Date:&nbsp;&nbsp;&nbsp;<span>{{orderInfo.dueDate | date: 'yyyy-MM-dd'}}</span></p>
                <p>Ship Method:&nbsp;&nbsp;&nbsp;<span>UPS-Frt</span></p>
                <p>Freight Acct.</p>
              </div>
              <div class="col-2"></div>
              <div class="col-5 boxes">
                <p>Order No.&nbsp;&nbsp;&nbsp;<span>{{orderInfo.oldOrdreid}}</span></p>
                <p>Purchase Order No.&nbsp;&nbsp;&nbsp;<span>20015946</span></p>
                <p>Third party PO No.&nbsp;&nbsp;&nbsp;<span></span></p>
              </div>
            </div>

            <!--Table-->
            <br>
            <div class="row">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Part Number</th>
                    <th scope="col">Rev.</th>
                    <th scope="col">PO No.</th>
                    <th scope="col">Order Qty <br>
                      Ship Qty
                    </th>
                    <th scope="col">Packing Info</th>
                    <th scope="col">Box Wt(Kg)</th>
                    <th scope="col">Pallets Wt(Kg)</th>
                    <th scope="col">Comment.</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">{{orderInfo.part.isbn}} <br> {{orderInfo.part.title}}</th>
                    <td>&nbsp;</td>
                    <td>{{ orderInfo.orderNum }}</td>
                    <td>{{ orderInfo.quantity }} <br> {{orderInfo.produced}}</td>
                    <td>{{ getNumberOfBoxes() }} boxes</td>
                    <td>{{ orderInfo.part.weight * orderInfo.part.bestbox.qtyperbox / 1000 | number}}</td>
                    <td>{{ (orderInfo.part.weight * orderInfo.part.bestbox.qtyperbox / 1000)* getNumberOfBoxes() | number }}</td>
                    <td>Complete</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <br>

            <!--Tracking-->
            <div class="row" style="border-bottom: 1px solid black;">
              <p style="margin-left: 10px;">Tracking Numbers: &nbsp;&nbsp;&nbsp;&nbsp; <span>{{packingSlipForm.value.notes}}</span></p>
            </div>
            <!--Weight-->
            <div class="row" style="border-bottom: 1px solid black;">
              <p style="margin-left: 10px;">Weight(Kg):
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{ (orderInfo.part.weight * orderInfo.part.bestbox.qtyperbox / 1000)* getNumberOfBoxes() | number }}</span></p>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <!--received-->
            <div class="row">
              <div class="col-3">Received by: </div>
              <div class="col-3 writeLine"></div>
              <div class="col-1">Date: </div>
              <div class="col-2 writeLine"></div>
              <div class="col-1">Time: </div>
              <div class="col-2 writeLine"></div>
            </div>

            <!--Footer-->
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="row justify-content-center">
              <p>EPAC Technologies . 2561 Grant Ave . San Leandro, CA 94579</p>
              <p>Phone: 510.317.7979 . Fax: 510.317.7993 . Doc. No: SHP 7.5.3-1 . www.epac.com</p>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>